.header{
    float: right;
    /* margin-top: 100px; */}
.u{
    height: 200px;
    margin-bottom:60px ;
}
.navbar{
    background-image: url(https://picsum.photos/600/400);
}
.body2{
    background-image: url(https://picsum.photos/id/111/600/400);
}
.bawah{
    background-image: url(https://picsum.photos/id/112/600/400);
    height: 400px;
}