.jumbotron{
    background-image:  url('https://picsum.photos/id/666/1200/1000');
  margin-bottom: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.i{
    height: auto;
}
.nav-link{
    margin: 0 10px;
    color: darkmagenta !important;
}
.z{
margin-bottom: 9px;
}
@media (max-width: 575.98px) {
    .z{
        color: rgb(255, 255, 255);
    }
    .i{
        height:auto;
    }

}
.z{
    margin-bottom: 20px;
}
.card{
    margin-top:-85px ;
    height: 170px;

}
@media (max-width: 575.98px) {
    .card{
        height: auto;
    }
}
.card .kiri{
    height: 100%;
    margin-right: 20px;    
}
.card .kiri h2{
    margin-top: 50px;
}
.card .kanan{
    /* margin-left: 20px; */
}
.parallax{
    background-image: url(https://picsum.photos/1200/1000);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

