.jumbotron{
    background-image:  url('https://picsum.photos/id/666/1200/300');
  margin-bottom: 0;
  
}
.i{
    height: auto;
}
.nav-link{
    margin: 0 10px;
    color: darkmagenta !important;
}
.z{
margin-bottom: 9px;
}
@media (max-width: 575.98px) {
    div{
        color: darkolivegreen;
    }
}
